$brand-gray-dark: #25282a;
$brand-gray-light: #717c7d;
$brand-gray-lighter: lighten($brand-gray-light, 20%);
$brand-red: #cb333b;
$brand-red-dark: #76232f;
$brand-blue: #00a0d2;

$page-bg: $brand-gray-dark;

$logo-url: url(../images/logo.svg);
$logo-width: 200px;
$logo-height: 200px;

$form-bg: transparent;
$form-border: solid 2px #fff;
$form-border-radius: 2px;
$field-bg: lighten($brand-gray-dark, 10%);
$field-text-color: lighten($brand-gray-lighter, 10%);
$field-border-color: lighten($brand-gray-lighter, 20%);
$field-border: solid 1px $field-border-color;
$field-active-border-color: #fff;

$text-color: $brand-gray-lighter;
$link-color: #fff;
$button-color: $brand-red;
$button-color-hover: darken($brand-red, 10%);
$button-hover-scale: 1.075;

$message-bg: #fff;
$message-text-color: $brand-gray-dark;
$message-border-color: $brand-blue;
$message-link-color: inherit;

$error-bg: $message-bg;
$error-text-color: $brand-gray-dark;
$error-border-color: $brand-red;
$error-link-color: inherit;

$checkbox-color: #fff;
$checkbox-background: $field-bg;
$checkbox-border-color: $field-border-color;

$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$line-height-base: 20px;

body.login {
    background: $page-bg;
    color: $text-color;

    #login {
        padding-top: 32px;
    }

    // brand
    h1 a {
        background-image: $logo-url;
        background-size: auto;
        margin: 0 auto $line-height-base;
        width: $logo-width;
        height: $logo-height;

        &:hover {
            opacity: 0.9;
        }
    }
    // messages
    .message {
        background: $message-bg;
        border-color: $message-border-color;
        color: $message-text-color;

        a {
            color: $message-link-color;
        }
    }
    // error messages
    #login_error {
        background: $error-bg;
        border-color: $error-border-color;
        color: $error-text-color;

        a {
            color: $error-link-color;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }
    }

    // the forms
    #loginform,
    #registerform,
    #lostpasswordform {
        background: $form-bg;
        border: $form-border;
        border-radius: $form-border-radius;
        box-shadow: none;

        label {
            color: $text-color;
            font-family: $font-family;
            font-size: 1rem;
            font-weight: 200;
            letter-spacing: 0;
            padding-bottom: 0.2em;
        }

        .forgetmenot {
            label {
                font-size: 0.8rem !important;
                font-weight: 200 !important;
                padding-bottom: 0;
            }
            input[type=checkbox] {
                background: $checkbox-background;
                border-color: $checkbox-border-color !important;

                &:checked:before {
                    color: $checkbox-color !important;
                }

                &:active,
                &:focus {
                    border-color: $field-active-border-color !important;
                    box-shadow: 0 0 2px opacify($field-active-border-color, 0.8);
                }
            }
        }

        // fields
        input[type="text"],
        input[type="email"],
        input[type="password"]{
            background: $field-bg;
            border: $field-border;
            color:$field-text-color;
            box-shadow: none;

            &:active,
            &:focus {
                border-color: $field-active-border-color !important;
                box-shadow: 0 0 2px opacify($field-active-border-color, 0.8);
            }
        }
    }

    // button
    input.button-primary {
        background: $button-color;
        border: solid 1px $button-color;
        border-radius: 3px;
        text-shadow: none !important;
        box-shadow: none !important;
        transition: all 0.2s;

        &:hover {
            background: $button-color-hover;
            border-color: $button-color-hover;
            color: #fff;
            text-shadow: none !important;
            box-shadow: none !important;

            transform: scale($button-hover-scale);
            transition: all 0.3s;
        }
    }
    // Lost Password link, Login link, etc.
    #nav {
        a {
            color: $link-color !important;
            text-decoration: none;
            text-shadow: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    // back to blog link
    #backtoblog {
        display: none;

        a {
            color: $link-color !important;

            &:hover {
                color: $link-color !important;
                text-decoration: underline;
            }
        }
    }
}